*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
/* Button Style */
.button-style{
    background-color: transparent;
    border: 2px solid;
    border-color: #000;
    color: #000;
    padding: 7px 20px;
    font-size: 18px;
    border-radius: 5px;   
}
.button-style:hover{
    background-color: aliceblue;
    color: #000;
    border-color: aliceblue;
}
.banner-button-style{
    background-color: transparent;
    border: 2px solid;
    border-color: aliceblue;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
}
.banner-button-style:hover{
    background-color: aliceblue;
    color: #000;
}
/* Header */
.header{
    padding: 20px 40px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}
.button{
    justify-content: end;
}
.menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu ul{
    list-style-type: none;
    justify-content: center;
    margin-bottom: 0px;
    padding-left: 0px;
}
.menu ul li{
    display: inline-block;
    padding: 0px;
    align-items: center;
    font-size: 18px;
    position: relative;
}
.nav-link{
    color: #000;
}
.nav{
    position: relative;
}
a.nav-link::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 20px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #e60b82;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
a.nav-link:hover:before{
    content: '';
    position: absolute;
    left: 0px;
    top: 20px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #e60b82;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
a.nav-link.active::before{
    opacity: 1;
}
/* Banner */
.Banner{
    background-image: url("../Images/indian-condiments-with-copy-space-view.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    color: #fff;
    position: relative;
    height: 600px;
}
.Banner .banner-contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-contents h1{
    font-size: 50px;
}
.banner-contents p{
    font-size: 18px;
}
/* Category */
.Category{
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.Category .row{
    justify-content: center;
    align-items: center;
}
.category-icon{
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid;
    border-color: aliceblue;
}
.category-icon:hover{
    border-color: #000;
}
.category-icon a{
    color: #000;
    text-decoration: none;
}
.Banner-mass{
    padding: 40px;
    text-align: center;
}
.Banner-mass .banner-right-content{
    padding-bottom: 20px;
}
.Banner-mass .banner-left-content{
    padding-top: 20px;
}
.Banner-mass img{
    border-radius: 20px;
}
.Banner-mass h3{
    font-size: 40px;
    padding-bottom: 20px;
}

/* Product */
.product-wrapper-1, .product-wrapper-2, .product-wrapper-3, .product-wrapper-4{
    width: 285px;
    position: relative;
}
.Product{
    overflow: hidden;
    padding: 40px;
}
.Product .row{
    padding: 40px;
    overflow: hidden;
}
.product-content{
    padding: 20px 0px 20px;
}
.product-wrapper-1 .buy-now-button{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 7px 20px;
    font-size: 18px;
    border-radius: 0px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 120px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s,visibility .3s;
}
.product-wrapper-1:hover .buy-now-button{
    opacity: 1;
    visibility: visible;
}
/* Best Seller */
.Best-seller{
    padding: 40px;
    overflow: hidden;
    position: relative;
}
.left-col{
    position: relative;
}
.left-col .content-wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.left-col .content-wrapper h2{
    font-size: 40px;
    padding-bottom: 30px;
}

/* Product List */
.Product-list{
    padding: 40px;
    overflow: hidden;
}

/* Blog */
.blog{
    overflow: hidden;
    padding: 40px;
}
.blog-item{
    text-align: center;
}
.blog h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.blog-content h3{
    padding: 20px 0px 20px;
}

/* Footer */
.footer{
    padding: 0px 40px;
    overflow: hidden;
    background-color: aliceblue;
}
.footer .wrapper{
    padding: 80px 0px;
}
.footer ul{
    list-style-type: none;
    padding-left: 0px;
}
.footer ul li{
    padding-bottom: 10px;
    font-size: 18px;
}
.footer-links h3{
    padding-bottom: 20px;
}
.Contact-Us h3{
    padding-bottom: 20px;
}
.Social-links h3{
    padding-bottom: 20px;
}
.footer-bottom{
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #403E3C24;
    border-radius: 25px 25px 0px 0px;
    padding: 30px 0px;
}
.footer-bottom p{
    margin-bottom: 0px;
}
.Social-links ul li{
    display: inline-block;
    padding: 0px 20px 0px 0px;
    font-size: 20px;
}
.Contact-Us p {
    margin-bottom: 0px;
}
/* Footer links styling */
span.list-text{
    display: inline-block;
}
span.list-text:after{
    content: "";
    display: block;
    position: relative;
    z-index: 1;
    top: auto;
    bottom: -3px;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 0;
    height: 1px;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #221f44;
}
span.list-text:hover:after{
    width: 100%;
}
span.list-text:hover{
    margin-left: 9px;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Popup form */
/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border-radius: 35px;
    background-color: #fff;
    padding: 60px 40px;
}
  
/* Add styles to the form container */
.form-container {
    max-width: 500px;
}
  
/* Full-width input fields */
.form-container input[type=text], .form-container input[type="email"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #fff;
}
  
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=email]:focus {
    background-color: #fff;
    outline: none;
}
  
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.fa-solid{
    position: absolute;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
}
